%td= link_to user.email, user
%td
  = form_for(user) do |f|
    = f.select(:role, User.roles.keys.map {|role| [role.titleize,role]})
    = f.submit 'Change Role', :class => 'button-xs'
%td.text-right
  = link_to '', user_path(user), class: 'btn btn-xs btn-default glyphicon glyphicon-eye-open', title: 'Show'
  = link_to('', user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger glyphicon glyphicon-remove', title: 'Delete') unless user == current_user
