.row
  .col-md-3
    %h3= 'Equation id: ' + @equation.id.to_s
  .col-md-9
    %br
    .pull-right.btn-toolbar
      = link_to 'Delete', equation_path(@equation), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' if policy(@equation).destroy?

%br

- equation_attributes.each do |key, value|
  .row.padding_after
    .col-md-2
      %strong= key + ':'
    .col-md-10
      = value

%br

= link_to 'Back', equations_path, class: 'btn btn-info'
