- if user_signed_in?
  - if current_user.try(:admin?)
    = menu_item 'Users', users_path

  = menu_item 'Edit account', edit_user_registration_path
  %li= link_to 'Sign out', destroy_user_session_path, method: 'delete'
- else
  = menu_item 'Sign in', new_user_session_path
  = menu_item 'Sign up', new_user_registration_path
