!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Ft2db'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Ft2db'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    %main{ role: 'main' }
      = render 'layouts/messages'
      .container
        = yield

  .container
    %hr
    %footer
      %p &copy; Ft2db 2015